/* Style général du corps de la page */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f0e7;
    margin: 0;
    padding: 0;
    color: #4f4b47;
    line-height: 1.6;
}

/* Style du header */
header {
    background-color: #ffe8d6;
    color: #d05353;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 2em;
    animation: fadeInDown 1s ease-out;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    background-color: #d8c3a5;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffe8d6;
}

/* Section principale */
section {
    padding: 50px;
    animation: fadeIn 1s ease-in;
}

h2 {
    font-size: 2em;
    color: #d05353;
    text-align: center;
    margin-bottom: 20px;
}

/* Galerie d'images et vidéos */
.gallery, .videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.gallery img, .videos video {
    width: 300px;
    height: 200px;
    margin: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.gallery img:hover, .videos video:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Style du footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #d8c3a5;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Lightbox pour agrandir les images */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.lightbox img {
    width: 80%;
    max-width: 700px;
    margin: auto;
    display: block;
    animation: fadeIn 0.5s ease;
}

.lightbox .close, .lightbox .prev, .lightbox .next {
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    user-select: none;
    transition: color 0.3s;
}

.lightbox .close {
    top: 20px;
    right: 35px;
}

.lightbox .prev {
    left: 10px;
}

.lightbox .next {
    right: 10px;
}

.lightbox .prev:hover, .lightbox .next:hover, .lightbox .close:hover {
    color: #bbb;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Section Contact */
#contact {
    text-align: center;
    padding: 50px;
}

#contact a {
    color: #d05353;
    font-weight: bold;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}
